{% extends "layout.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<!-- <h1 class="ui header">{{title}}</h1> -->
{% if current_user.is_authenticated %}
<!-- <center> -->
  <!-- <img
    src="https://www.popsci.com/sites/popsci.com/files/styles/1000_1x_/public/images/2018/08/untitled.png?itok=ualUMeJN&fc=50,50"> -->
<!-- </center> -->
<form action="http://localhost:5000/uploaded" method="POST" enctype="multipart/form-data">
  <input class="ui primary button" type="file" name="file" />
  <input class="ui primary button" style="font-size: 1.2em;" value="Submit" type="submit" />
</form>

<!-- <!Doctype html>
<html>
<body>

	  <form action="/user/charge" method="post">
    <article>
      <label>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"

            data-key="pk_test_TQmy1LFbeJ6tgZLOdzT4pZRh00mJ3yq97c"
            data-description="A Flask Charge"
            data-amount="1000"
	    data-email="{{ email }}"
            data-locale="auto"></script>
            
            
            
            </body>
            </html>

    
  </form>
  </body>
  </html>  -->




{% endif %}

{% endblock %}